* {
  font-family: Helvetica;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active   {
  background-color: #1983b4;
}

.active a {
  color: white;
}

.load {
  align-items: center;
  justify-content: center;
  margin-left: 600px;
}